* {
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;

  /* PRIMARY COLOR */
  --primary-hue: 283;
  --primary-saturation: 51%;
  --primary-lightness: 34%;

  --primary-color: hsla(
    var(--primary-hue) var(--primary-saturation) var(--primary-lightness) / 1
  );

  /* WHATSAPP COLOR */
  --wa-hue: 142;
  --wa-saturation: 70%;
  --wa-lightness: 49%;

  --wa-color: hsla(var(--wa-hue) var(--wa-saturation) var(--wa-lightness) / 1);
  --accent-color: hsl(323 74% 44%);
  --muted: hsl(0 0% 55%);
}

main {
  height: 100%;
}

h1,
h2,
h3 {
  color: var(--primary-color);
  font-family: "Raleway", sans-serif;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

/* WHATSAPP BUTTON */

.btn-secondary {
  background-color: var(--wa-color);
  border: none;
}

.btn-secondary:hover {
  background-color: hsla(
    var(--wa-hue) var(--wa-saturation) calc(var(--wa-lightness) - 10%) / 1
  );
}

.wa-float {
  aspect-ratio: 1;
  border-radius: 50%;
  bottom: 2vh;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.25);
  font-size: 2rem;
  position: fixed;
  right: 2vh;
  width: 4rem;
  z-index: 100;
}
